.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}
.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  background-color: rgb(214, 214, 214);
  padding: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.form-item {
  width: 20vw;
  height: 20px;
  padding: 10px;
  user-select: none;
  outline: none;
}
.form-contact button[type="submit"] {
  height: 25px;
  width: 20vw;
}
.form-item[name="comment"] {
  height: 100px;
}

@media (max-width: 520px) {
  .form-item {
    width: 90vw;
  }
  .form-contact {
    align-items: center;
  }
  .form-contact button[type="submit"] {
    width: 50%;
  }
}
