.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: black;
  min-height: 50px;
  width: 100%;
}
.logo-name {
  font-size: 1.2rem;
  color: rgb(122, 122, 122);
  cursor: pointer;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.menu .menu-item {
  list-style: none;
}
.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
}
@media (max-width: 520px) {
  .menu{
    display: none;
    flex-direction: column;
  }
  .menu.open{
    display: flex;
    margin: 20px 0;
    gap: 20px;
  }
  nav {
    flex-direction: column-reverse;
    justify-content: center;
  }
.logo-name{
    color: rgb(202, 202, 202);
  }
}
